:root {

  /* lighter shades of primary color */
  --clr-primary-9: hsl(185, 94%, 87%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #00A4CCFF;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}

/*
=============== 
NavBar
===============
*/
.auth-links li {
  display: inline;
  padding-left: 25px;
  float: right;
}
.main-navbar {
  background-image: url('./assets/gametheme.jpg');
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  color: #ffffff;
  padding-top: 10px;
}
.main-navbar h3 {
  color: #ffffff;
}

/*
=============== 
Carousel
===============
*/
.carousel h1 {
  color: #ffffff;
}
.hero-img {
  width: 400px;
}
.win-img {
  width: 100px;
}
.carousel {
  background-image: url('./assets/gametheme.jpg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin-top: 60px;
  padding: 10px;
}
.carousel .btn-solid {
  background-color: #ff8065;
}

/*
=============== 
Choose Tournament
===============
*/
.choosetourna {
  background-color: whitesmoke;
}
.choosetourna .btn-solid {
  background-color: #00A4CCFF;
}
.createtourna {
  background-image: url('./assets/gametheme.jpg');
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.createtourna .btn-solid {
  background-color: #ff8065;
}
.createtourna h3 {
  color: white;
}

/*
=============== 
Footer
===============
*/
.footer {
  background-color: #242a35;
}
#navigation li {
  display: inline;
}
#navigation a {
  color: white;
}
.articles a {
  color: white;
}
.payments-methods li {
  display: inline;
  margin-left: 50px;
}
.footer-color {
  color: #a1a9b3;
}

/*
=============== 
Search Tournament
===============
*/

.searchtournament {
  background-image: url('./assets/gametheme.jpg');
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.searchtournament h3 {
  color: white;
}
.searchtournament label {
  color: white;
}
.search-input {
  display: flex;
}
.search-input li {
  padding: 20px;
}
.search-input input {
  border-radius: unset;
  width: 200px;
}
.search-input select {
  border-radius: unset;
  width: 200px;
}
.searchtournament .btn-solid {
  background-color: #ff8065;
  min-height: 200px;
}

/*
=============== 
Blog
===============
*/
.blog {
  background-image: url('./assets/gaming.jpg');
   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.blog-content {
  padding: 100px;
  color: white;
}
.blog-content h3 {
  color: white;
}
.blog-content .btn-color {
  color: white;
}
@media (max-width: 575.98px) { 
  .carousel {
    background-image: url('./assets/gametheme.jpg');
   /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    margin-top: 50px;
    padding: 10px;
  }
  .hero-img {
    width: 200px;
    margin-left: 50px;
  }
  .win-img {
    width: 50px;
  }
  .search-input {
    display: none;
  }
  .blog-content {
    padding: 30px;
    color: white;
  }
}